@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

html, body{
    height: 100%;
    width: auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15%;
    margin: 1rem 5rem;
}


.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.fade {
    transition: opacity 0.2s linear;
}

.chevron{
    fill: black;
    width: 30px;
    height: auto;
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.dayIcon{
    fill: black;
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;
    padding: 5px;
    border-radius: 50%;
    border: solid thin black;
}


.calendrier{
    margin: 1rem 5rem;
}

.calendrier ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendrier li{
    color: #333;
    width: calc(100% / 7);
    aspect-ratio: 1/1;
    font-size: 1,07rem;
}

#jours li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    color: lightgray !important;
}